/* UA Reset */

/* Typography */
/* font-family: 'Josefin Sans', sans-serif; */

/* Layouts */

/* Components */

/* Mediaqueries */
@media ( min-width: 1200px ) {

}

@media ( max-width: 520px ) {

}
