/* UA Reset */

/* Layouts */
/* .l_row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.l_col {
  box-sizing: border-box;
  padding: 0 10px;
}

.l_col_12_12 {
  width: 100%;
}
.l_col_11_12 {
  width: 91.66666667%;
}
.l_col_10_12 {
  width: 83.33333333%;
}
.l_col_9_12 {
  width: 75%;
}
.l_col_8_12 {
  width: 66.66666667%;
}
.l_col_7_12 {
  width: 58.33333333%;
}
.l_col_6_12 {
  width: 50%;
}
.l_col_5_12 {
  width: 41.66666667%;
}
.l_col_4_12 {
  width: 33.33333333%;
}
.l_col_3_12 {
  width: 25%;
}
.l_col_2_12 {
  width: 16.66666667%;
}
.l_col_1_12 {
  width: 8.33333333%;
} */

/* Commons */

/* Components */

/* Mediaquries */

* {
  margin: 0;
  padding: 0;
}
h1 {
  font: inherit;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}
/**/

.l_wrapper {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.l_half {
  width: 50%;
  flex-grow: 1;
}

.l_half.cover {
  /* position: fixed;  이 속성을 넣으니 렐\이아웃이..*/
}

.l_half:nth-child(even) {
  padding: 20px;
}

.l_row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  margin: 0 -10px;
}

.l_col {
  width: 33.333333%;
  padding: 0 10px;
  box-sizing: border-box;
}

.l_pagemove {
  display: flex;
  flex-grow: 1;
  box-sizing: border-box;
  gap: 15px;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

h1.title {
  font-size: 1.5rem;
  margin: 20px 0;
}

p.text {
  margin-bottom: 25px;
}

a.btn {
  background-color: yellow;
  display: inline-block;
  font-size: 1.3rem;
  width: 50%;
  margin: 15px 0;
  padding: 15px;
  letter-spacing: 0.3em;
}

a.btn:last-child {
  text-align: right;
}

@media (max-width: ) {
  .l_col {
    width: 50%;
  }
}
