* {
  margin: 0;
  padding: 0;
}
a {
  font: inherit;
  text-decoration: none;
  color: inherit;
}
img {
  vertical-align: top;
}
h2,
h3 {
  font: inherit;
}
ul {
  list-style: none;
}
/**/
:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: gray;
}
.l_row {
  display: flex;
  background-color: white;
  gap: 10px;
}

.l_col {
  box-sizing: border-box;
  padding: 20px;
}

.l_col_12_12 {
  width: 100%;
}
.l_col_11_12 {
  width: 91.66666667%;
}
.l_col_10_12 {
  width: 83.33333333%;
}
.l_col_9_12 {
  width: 75%;
}
.l_col_8_12 {
  width: 66.66666667%;
}
.l_col_7_12 {
  width: 58.33333333%;
}
.l_col_6_12 {
  width: 50%;
}
.l_col_5_12 {
  width: 41.66666667%;
}
.l_col_4_12 {
  width: 33.33333333%;
}
.l_col_3_12 {
  width: 25%;
}
.l_col_2_12 {
  width: 16.66666667%;
}
.l_col_1_12 {
  width: 8.33333333%;
}

.l_wrapper {
  width: auto;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.l_footer_info {
  background-image: url(images/footer-logo.png);
  background-repeat: no-repeat;
  display: flex;
  gap: 35px;
  justify-content: right;
}
/**/
.header {
  background-color: rgb(26, 118, 210);
}
.header a.header-logo {
  display: inline-block;
  margin: 45px 0;
}
.header img.header-wave {
  z-index: 1;
  position: absolute;
  top: 3%;
  right: -5%;
}
.header .navbar {
  background-color: dodgerblue;
}
.header a.navbar-btn {
  display: inline-block;
  color: white;
  font-size: 1.2rem;
  padding: 15px;
}
.header a.navbar-btn:hover {
  background-color: white;
  color: black;
}

.contents {
  background-color: lightgray;
  padding-bottom: 25px;
}
.contents .img.main-cover {
  max-width: 100%;
}
.contents .main {
  display: flex;
  gap: 10px;
  padding: 15px 0;
  border-bottom: 1px dotted lightgray;
}
.contents .main.first {
  padding-top: 0;
}
.contents .main:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.contents .main-article {
  margin: 5px;
}
.contents ul.sidebar-list {
  border-left: 2px solid lightgray;
  padding: 10px;
  line-height: 1.5em;
}
h2.title {
  color: dodgerblue;
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 15px;
}

.footer {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px 0;
}
.footer .info h3 {
  color: white;
  font-size: 1.2rem;
  padding-bottom: 15px;
}
ul.footer-info-btn {
  line-height: 1.4em;
}
.btns a {
  background: url(images/icon-sprite.png) no-repeat 0 0;
  width: 30px;
  height: 30px;
  display: inline-block;
}
.btns a.twitter {
  background-position: 0 0;
}
.btns a.facebook {
  background-position: -30px 0;
}
.btns a.pinterest {
  background-position: -60px 0;
}
/**/
@media (max-width: 640px) {
  .header {
    text-align: center;
  }
  .header img.header-wave {
    visibility: hidden;
  }
  .l_col_mobile_12_12 {
    width: 100%;
  }
}
