/* reset */
body, ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}


/* layouts */
.l_wrapper {
    width: 960px;
    margin: 0 auto;
}

.l_row {
    display: flex;
    row-gap: 20px;
    margin: 0 -20px;
    flex-wrap: wrap;
}

.l_col {
    width: 33.333333%;
    padding: 0 20px;
    box-sizing: border-box;
}


.l_col_12_12 { width: 100%; }
.l_col_11_12 { width: 91.66666667%; }
.l_col_10_12 { width: 83.33333333%; }
.l_col_9_12  { width: 75%; }
.l_col_8_12  { width: 66.66666667%; }
.l_col_7_12  { width: 58.33333333%; }
.l_col_6_12  { width: 50%; }
.l_col_5_12  { width: 41.66666667%; }
.l_col_4_12  { width: 33.33333333%; }
.l_col_3_12  { width: 25%; }
.l_col_2_12  { width: 16.66666667%; }
.l_col_1_12  { width: 8.33333333%; }


/* components */
.animal {
    background-color: dodgerblue;
}

.animal-cover {
    width: 100%;
    vertical-align: top;
}